{% extends "GessehCoreBundle::layout.html.twig" %}

{% block title %}Erreur : {{ status_text }}{% endblock %}
{% block titlecontent %}Oups ! Une erreur est survenue !{% endblock %}
{% block content %}
    <div>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</div>
{% endblock %}
