{% extends '::layout.html.twig' %}

{% block nav %}
    <div class="pull-right">
        {{ mopa_bootstrap_menu('main') }}
    </div>
{% endblock %}

{% block javascripts %}{{ parent() }}{% endblock %}
