/web/bundles/*
/web/uploads/*
/web/css/*
/web/js/*
/web/images/*
/web/fonts/*
/web/media/cache/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/app/spool/*
/vendor/
/app/config/parameters.ini
/app/config/parameters.yml
/.todo
*.swp
*~
web/css/
web/fonts/
web/js/
/src/Gesseh/ImportBundle/Resources/data/
