parameters:
    database_driver:   pdo_mysql
    database_host:     localhost
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       localhost
    mailer_user:       ~
    mailer_password:   ~
    mailer_mail:       root@example.com

    locale:            fr
    secret:            ThisTokenIsNotSoSecretChangeIt

    payment_secret:      ThisTokenIsNotSoSecretChangeIt # Do not change it later, you would'nt read old encoded transactions anymore !
    payment_paypal_user: username
    payment_paypal_pswd: password
    payment_paypal_sign: signature
