<li><a href="{{ path('GCore_PAPeriodIndex') }}" title="Gérer les sessions de stage">Sessions</a></li>
<li><a href="{{ path('GCore_PAPlacementIndex') }}" title="Gérer les stages">Stages</a></li>
<li><a href="{{ path('GCore_PAPeriodIndex') }}" title="Gérer les paramètres des terrains de stage">Paramètres</a></li>
