{% extends "GessehCoreBundle::layout.html.twig" %}

{% block titlecontent %}Modifier mes informations personnelles{% endblock %}

{% block actionscontent %}
  <ul>
    <li><a href="{{ path('homepage') }}" title="Retour à l'accueil">Retour</a></li>
    <li><a href="{{ path('fos_user_change_password') }}" title="Modifier le mot de passe">Mot de passe</a></li>
  </ul>
{% endblock %}

{% block content %}
  {{ form(form) }}
{% endblock %}
