<h2>{{ department.name }}</h2>
<div>Chef de service : {{ department.head }}</div>
<div>{{ department.description }}</div>
<div><a href="{{ path('GessehCoreBundle_DepartmentIndex') }}">Retour</a></div>
