{% extends "GessehInstallBundle:Configurator:layout.html.twig" %}

{% block title %}{{ parent() }} : Création des données{% endblock %}

{% block content %}
  {{ form_start(admin_form) }}
    {{ form_widget(admin_form) }}
    <button type="submit">Terminer</button>
  {{ form_end(admin_form) }}
{% endblock %}
