<li><a href="{{ path('GSimul_SAList') }}" title="Gérer la table de simulation">Table de simulation</a></li>
<li><a href="{{ path('GSimul_SAPeriod') }}" title="Gérer les périodes de simulation">Périodes</a></li>
<li><a href="{{ path('GSimul_SARule') }}" title="Gérer les règles de simulation">Règles</a></li>
<li><a href="{{ path('GSimul_SAList') }}" title="Gérer les paramètres des simulations">Paramètres</a></li>

