<li id="evalform_{% if eval_form is defined %}{{ eval_form.id }}{% else %}new{% endif %}">
    {{ form_widget(eval_form_form) }}
    <ul class="actions">
      <li><button type="submit" title="Enregistrer les modifications" class="save">Enregistrer</button></li>
      <li><button type="button" id="add_crit" title="Ajouter un service au formulaire d'évaluation" class="add">Ajouter un critère</button></li>
      <li><button type="button" id="rm_crit" title="Supprimer le dernier critrère au formulaire d'évaluation" class="delete">Supprimer</button></li>
      <li><a href="{{ path('GEval_AForm') }}" title="Abandonner les modifications" class="cancel">Annuler</a></li>
    </ul>
</li>
