<tr>
  <td>{{ sector.sector }}</td>
  <td>{{ sector.form }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GEval_ASectorDelete', { 'id': sector.id }) }}" title="Supprimer le formulaire de '{{ sector.sector }}'" class="confirm">Supprimer</a></li>
    </ul>
  </td>
</tr>
