<li><a href="{{ path('GEval_AForm') }}" title="Gérer les formulaires d'évaluation des stages">Formulaires d'évaluation</a></li>
<li><a href="{{ path('GEval_ASector') }}" title="Gérer la table d'assoctiation Sector <=> Formulaire d'évaluation">Table d'association</a></li>
<li><a href="{{ path('GEval_ATextIndex') }}" title="Modérer les évaluations textuelles">Modération</a></li>
<li><a href="{{ path('GEval_AForm') }}" title="Gérer les paramètres des évaluations">Paramètres</a></li>
