{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Adhésion - Validation{% endblock %}

{% block content %}
    Un email de confirmation a été envoyé à l'adresse {{ email }}. Cliquez sur le lien présent dans l'email pour activer votre compte.

    En cas de non-réception du mail, <a href="{{ path('GRegister_USendConfirmation', {'email': email}) }}">renvoyer la confirmation</a>.
{% endblock %}
