{% extends 'GessehCoreBundle::layout.html.twig' %}

{% block titlecontent %}Importer des étudiants{% endblock %}

{% block content %}
    <div class="error">{{ error }}</div>
    {{ form(form) }}
{% endblock %}
