<tr>
  {{ form_row(sector_form.name) }}
  {{ form_rest(sector_form) }}
  <td class="actions">
    <ul>
      <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
      <li><a href="{{ path('GCore_FSAIndex') }}" title="Abandonner les modifications">Annuler</a></li>
    </ul>
  </td>
</tr>
