<tr>
  {{ form_row(sector_form.name) }}
  {{ form_rest(sector_form) }}
  <td>
    <ul>
      <li><button type="submit">Enregistrer</button></li>
      <li><a href="{{ path('GCore_FSAIndex') }}">Annuler</a></li>
    </ul>
  </td>
</tr>
