<tr>
  <td>{{ sector.name }}</td>
  <td class="actions">
    <ul>
      <li><a href="{{ path('GCore_FSAEditSector', { 'id': sector.id }) }}">Modifier</a></li>
      <li><a href="{{ path('GCore_FSADeleteSector', { 'id': sector.id }) }}">Supprimer</a></li>
    </ul>
  </td>
</tr>
