<h2 class="record_title">Ajout d'une catégorie</h2>

<form action="{{ path('GCore_FSANewSector') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li><a href="{{ path('GCore_FSAIndex') }}">Retour</a></li>
</ul>
