<li class="entity">
    {{ form_widget(sector_form) }}
    <ul class="actions">
        <li><button type="submit" title="Enregistrer les modifications">Enregistrer</button></li>
        <li><a href="{{ path('GCore_FSASector') }}" title="Abandonner les modifications">Annuler</a></li>
    </ul>
</li>
